@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3.5rem;
    --nav-width: 219px;
        --dark-gold-color: #B08B12;
        /* Oro oscuro, elegante */
        --elegant-blue: #1B365D;
        /* Azul elegante, un tono profundo y sereno */
        --blueberry-cranberry: #4E4C7F;
        /* Arándano azul, un tono azul oscuro con matices púrpuras */
        --title-color: #FFFFFF;
        /* Blanco para títulos */
        --text-color: #1B365D;
        /* Azul elegante para texto principal */
        --text-color-light: #B08B12;
        /* Oro oscuro para textos secundarios y acentos */
        --body-color: #FFFFFF;
        /* Fondo del cuerpo en blanco */
        --container-color: #E6EBF0;
        /* Color de contenedor en un tono claro y neutro */
}
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: var(--elegant-blue);
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--container-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px color var(--container-color);
    transform: translateY(-3%);
}


.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: var(--elegant-blue);
}

.card .contenido-card p,li {
    line-height: 1.8;
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #FDFDFD;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #ED3E90;
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card {
        margin: 15px;
    }
}